
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Personal home page</h1>
<p>Hi my name is p!  nice to meet you this is my first rails project</p>
<p>This picture is me at 10 years old </p>
<img src="/my-profile.png" alt = "/my-profile.png">

<h1> My Personal information</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Value</th>
    
  </tr>
  <tr>
    <td>Name</td>
    <td>Chanakorn</td>
    
  </tr>
  <tr>
    <td>Phone number</td>
    <td>092-253-0275</td>
  </tr>

  <tr>
    <td>Birthday</td>
    <td>7 April 2002</td>
  </tr>

  <tr>
    <td>Student Id</td>
    <td>6330078421</td>
  </tr>
</table>

</body>
</html>